<a href="https://colab.research.google.com/github/tuhanren/Airbnb-Data-Analysis/blob/main/Final_Project_Group15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project Objective:

The goal of this project is to help new Airbnb hosts estimate a reasonable nightly **rental price** for their property. Using historical data from Airbnb listings, we will build predictive models that consider factors such as **location(lat and long)**, **availability**, and **house rules?(50k missing)** to forecast the most suitable rental price for new listings.

Dataset: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata/dataLinks to an external site.

Data dictionary: https://docs.google.com/spreadsheets/d/1b_dvmyhb_kAJhUmv81rAxl4KcXn0Pymz


Key Analysis Steps:

1. Data Cleaning: Clean the dataset by handling missing values, fixing inconsistencies, and addressing any outliers.
2. Descriptive Analytics: Explore the overall distribution of rental prices, relationships between location and price, popular room types and other descriptive insights.
3. Diagnostic Analytics: Perform correlation analysis and regression to find which factors (location, room type, availability, etc.) most influence rental prices.
4. Predictive Analytics: Build models that predict rental prices based on property characteristics and availability.

Practical Use Case:
New hosts will be able to input their property’s details, such as location, room type, availability, etc. Our model will then predict a reasonable nightly rental price based on similar listings from the historical data, helping the host price their property competitively.

Feasibility:
This project is feasible using Python libraries like pandas for data handling, scikit-learn and keras for modeling, and matplotlib for visualization. The final result will not only provide price recommendations for new Airbnb hosts but also reveal market trends and insights.

In [1]:
# Import the 'drive' module from the 'google.colab' package to enable Google Drive integration.
# Then, mount Google Drive to the '/drive' directory within the Colab environment.
# The 'force_remount=True' parameter ensures that the Drive is remounted even if it was previously mounted.

from google.colab import drive
drive.mount('/drive', force_remount=True)

# Change the current working directory to the specified folder within Google Drive,
# where you can save and load your Colab notebooks or files.
%cd '/drive/MyDrive/Colab Notebooks/INF1340/group project/'

Mounted at /drive
/drive/MyDrive/Colab Notebooks/INF1340/group project

In [69]:
import pandas as pd

def read_csv(uri: str) -> pd.DataFrame:
  """Read a CSV file from the given URI and return a pandas DataFrame.

  Args:
    uri: The URI of the CSV file to read.

  Returns:
    A pandas DataFrame containing the data from the CSV file.
  """

  try:
    return pd.read_csv(uri)
  except FileNotFoundError as ex:
    print(f'Error! File Not Found! uri={uri}')
    raise ex

def columns_snakecase(dataFrame: pd.DataFrame) -> None:
  """
  Convert column names in a pandas DataFrame to lowercase and
  replace all spaces with underscores e.g. 'My Column Name' becomes 'my_column_name'.

  Args:
    dataFrame: The pandas DataFrame whose column names need to be converted.
  """

  dataFrame.columns = dataFrame.columns.str.lower().str.replace(' ', '_')

def columns_drop(dataFrame: pd.DataFrame, columns: list) -> None:
  """Drop the specified columns from a pandas DataFrame.

  Args:
    dataFrame: The pandas DataFrame from which columns need to be dropped.
    columns: A list of column names to be dropped from the DataFrame.
  """
  dataFrame.drop(columns, axis=1, inplace=True)

def columns_drop_by_null_percentage(
    dataFrame: pd.DataFrame,
    percentage_threshold: float
) -> None:
  """"""

  columns = dataFrame.columns[dataFrame.isnull().mean() > percentage_threshold]
  print(f"Droping: {columns}")
  columns_drop(dataFrame, columns)

def columns_fill_null(dataFrame: pd.DataFrame, columns: list, value: any) -> None:
  """
  Fill missing values in the specified columns of a pandas DataFrame with a given value.

  Args:
    dataFrame: The pandas DataFrame in which missing values need to be filled.
    columns: A list of column names whose missing values need to be filled.
    value: The value to fill missing values with.
  """

  for column in columns:
    dataFrame[column].fillna(value, inplace=True)

def columns_dollarize(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Convert values in the specified columns of a pandas DataFrame from string to float
  by removing dollar signs and commas.

  Args:
    dataFrame: The pandas DataFrame in which values need to be converted.
    columns: A list of column names whose values need to be converted.
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].replace('[\$,]', '', regex=True).astype(float)

def rows_drop_by_condition(dataFrame: pd.DataFrame, condition: any) -> None:
  """
  Drop rows from a pandas DataFrame based on a given condition.

  Args:
    dataFrame: The pandas DataFrame from which rows need to be dropped.
    condition: A pandas DataFrame condition to filter rows.
  """

  dataFrame.drop(dataFrame[condition].index, inplace=True)

def rows_drop_by_null(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Drop rows from a pandas DataFrame that contain missing values in the specified columns.

  Args:
    dataFrame: The pandas DataFrame from which rows need to be dropped.
    columns: A list of column names whose rows need to be dropped.
  """
  dataFrame.dropna(subset=columns, inplace=True)

def columns_lowercase(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Convert column names in a pandas DataFrame to lowercase.

  Args:
    dataFrame: The pandas DataFrame whose columns need to be converted.
    columns: A list of column names to be converted to categorical data type.
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].str.lower()

def columns_categorize(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Convert the specified columns of a pandas DataFrame to categorical data type.

  Args:
    dataFrame: The pandas DataFrame whose columns need to be converted.
    columns: A list of column names to be converted to categorical data type.
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].astype('category')

def columns_boolize(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Convert the specified columns of a pandas DataFrame to boolean data type.

  Args:
    dataFrame: The pandas DataFrame whose columns need to be converted.
    columns: A list of column names to be converted to boolean data type.
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].astype(bool)

def columns_intize(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Convert the specified columns of a pandas DataFrame to integer data type.

  Args:
    dataFrame: The pandas DataFrame whose columns need to be converted.
    columns: A list of column names to be converted to integer data type.
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].astype(int)

def columns_floatize(dataFrame: pd.DataFrame, columns: list) -> None:
  """
  Convert the specified columns of a pandas DataFrame to float data type.
  Args:
    dataFrame: The pandas DataFrame whose columns need to be converted.
    columns: A list of column names to be converted to float data type.
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].astype(float)

def apply_lambda(dataFrame: pd.DataFrame, columns: list, fn: any) -> None:
  """
  Apply a lambda function to the specified columns of a pandas DataFrame.

  Args:
    dataFrame: The pandas DataFrame on which the lambda function needs to be applied.
    columns: A list of column names whose values need to be transformed.
    fn: The lambda
  """

  for column in columns:
    dataFrame[column] = dataFrame[column].apply(fn)

In [70]:
# Call read_csv() to import csv file.
df = read_csv('Airbnb_Open_Data.csv')
df.head(3)

<ipython-input-69-be692f67a90f>:14: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(uri)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [72]:
df.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [73]:
df.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

**Conclusion from the first snapshot of the data (info(), describe() and isnull()):**


1.   Column name format needs to be aligned.
2.   Null values handling.
3.   Dtype adjustment(float, int, date, category, bool, object).

***1. Column name format: Rename all columns, to lower.***

In [74]:
columns_snakecase(df)
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

***2. Null values handling.***
*   Drop high missing rate columns (15% or higher)

In [75]:
columns_drop_by_null_percentage(df, 0.15)

Droping: Index(['last_review', 'reviews_per_month', 'house_rules', 'license'], dtype='object')

*   Drop irrelevant columns

In [76]:
irrelevant_to_drop = ['name', 'host_id', 'country', 'country_code',
                   'host_name', 'calculated_host_listings_count']
columns_drop(df, irrelevant_to_drop)

In [77]:
# check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      102599 non-null  int64
 1   host_identity_verified  102310 non-null  object
 2   neighbourhood_group     102570 non-null  object
 3   neighbourhood           102583 non-null  object
 4   lat                     102591 non-null  float64
 5   long                    102591 non-null  float64
 6   instant_bookable        102494 non-null  object
 7   cancellation_policy     102523 non-null  object
 8   room_type               102599 non-null  object
 9   construction_year       102385 non-null  float64
 10  price                   102352 non-null  object
 11  service_fee             102326 non-null  object
 12  minimum_nights          102190 non-null  float64
 13  number_of_reviews       102416 non-null  float64
 14  review_rate_number      102273 non-null  float64
 15  availability_365        102151 non-null  float64
dtypes: float64(7), int64(1), object(8)
memory usage: 12.5+ MB


*   Fill numeric missing values.
  -  `price`: 247 rows, fill with mean.
  -  `service_fee`:273 rows, fill with 0.0.
  -  `minimum_nights`: 409 rows, fill with 0.
  -  `number_of_reviews`: 183 rows, fill with 0.
  -  `review_rate_number`: 326 rows, fill with 0.
  -  `availability_365`: 448 rows, fill with 0.

*   Fill categorical missing values.
  -  `host_identity_verified`: 289 rows, fill with 'unconfirmed'.
  -  `cancellation_policy`: 76 rows, fill with 'strict'.
*   Fill bool missing values.
  -  `instant_bookable`: 105 rows, fill with `False`.

In [78]:
columns_dollarize(df, ['price', 'service_fee'])
columns_fill_null(df, ['price'], df.groupby(['neighbourhood', 'room_type'])['price'].transform('mean'))
columns_fill_null(df, ['service_fee', 'price', 'minimum_nights', 'number_of_reviews',
                       'review_rate_number', 'availability_365'], 0)
columns_fill_null(df, ['host_identity_verified'], 'unconfirmed')
columns_fill_null(df, ['cancellation_policy'], 'strict')
columns_fill_null(df, ['instant_bookable'], False)

<ipython-input-69-be692f67a90f>:60: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[column].fillna(value, inplace=True)
<ipython-input-69-be692f67a90f>:60: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataFrame[column].fillna(value, inplace=True)

*   Drop rows of null values. mentioned counts from draft.
  -  `lat` and `long`: 8 rows.
  -  `neighbourhood_group`: 29 rows.
  -  `neighbourhood`: 16 rows.
  -  `construction_year`: 214 rows.
  -  `room_type`.

In [79]:
rows_drop_by_null(df, ['lat', 'long', 'neighbourhood_group', 'neighbourhood', 'construction_year', 'room_type'])

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102338 entries, 0 to 102598
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      102338 non-null  int64
 1   host_identity_verified  102338 non-null  object
 2   neighbourhood_group     102338 non-null  object
 3   neighbourhood           102338 non-null  object
 4   lat                     102338 non-null  float64
 5   long                    102338 non-null  float64
 6   instant_bookable        102338 non-null  bool
 7   cancellation_policy     102338 non-null  object
 8   room_type               102338 non-null  object
 9   construction_year       102338 non-null  float64
 10  price                   102338 non-null  float64
 11  service_fee             102338 non-null  float64
 12  minimum_nights          102338 non-null  float64
 13  number_of_reviews       102338 non-null  float64
 14  review_rate_number      102338 non-null  float64
 15  availability_365        102338 non-null  float64
dtypes: bool(1), float64(9), int64(1), object(5)
memory usage: 12.6+ MB

***3. Inconsistency and outliers handling***


*   Convert to lower case for all categorical values.
*   Fix all inconsistent cases.
*   Cast columns to the appropriate types.
*   Handle all outliers.
*   Drop duplicated records.

*   Convert to lower case for all categorical values
  - On columns of `host_identity_verified`, `neighbourhood_group`,`neighbourhood`, `cancellation_policy`, `room_type`.

In [81]:
columns_lowercase(df, ['host_identity_verified', 'neighbourhood_group',
                       'neighbourhood', 'cancellation_policy', 'room_type'])

In [82]:
# check
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102338 entries, 0 to 102598
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      102338 non-null  int64
 1   host_identity_verified  102338 non-null  object
 2   neighbourhood_group     102338 non-null  object
 3   neighbourhood           102338 non-null  object
 4   lat                     102338 non-null  float64
 5   long                    102338 non-null  float64
 6   instant_bookable        102338 non-null  bool
 7   cancellation_policy     102338 non-null  object
 8   room_type               102338 non-null  object
 9   construction_year       102338 non-null  float64
 10  price                   102338 non-null  float64
 11  service_fee             102338 non-null  float64
 12  minimum_nights          102338 non-null  float64
 13  number_of_reviews       102338 non-null  float64
 14  review_rate_number      102338 non-null  float64
 15  availability_365        102338 non-null  float64
dtypes: bool(1), float64(9), int64(1), object(5)
memory usage: 12.6+ MB

In [83]:
# Check inconsistency
df['neighbourhood_group'].value_counts().sort_index()

neighbourhood_group
bronx             2709
brookln              1
brooklyn         41735
manhatan             1
manhattan        43690
queens           13248
staten island      954
Name: count, dtype: int64

*   Fix all inconsistent cases.
  - `neighbourhood_group`: Case differences of 'manhatan' vs 'Manhattan' and 'brookln' vs 'brooklyn'.

In [84]:
df.loc[df['neighbourhood_group'] == 'manhatan', "neighbourhood_group"] = 'manhattan'
df.loc[df['neighbourhood_group'] == 'brookln', "neighbourhood_group"] = 'brooklyn'

In [85]:
# check
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102338 entries, 0 to 102598
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      102338 non-null  int64
 1   host_identity_verified  102338 non-null  object
 2   neighbourhood_group     102338 non-null  object
 3   neighbourhood           102338 non-null  object
 4   lat                     102338 non-null  float64
 5   long                    102338 non-null  float64
 6   instant_bookable        102338 non-null  bool
 7   cancellation_policy     102338 non-null  object
 8   room_type               102338 non-null  object
 9   construction_year       102338 non-null  float64
 10  price                   102338 non-null  float64
 11  service_fee             102338 non-null  float64
 12  minimum_nights          102338 non-null  float64
 13  number_of_reviews       102338 non-null  float64
 14  review_rate_number      102338 non-null  float64
 15  availability_365        102338 non-null  float64
dtypes: bool(1), float64(9), int64(1), object(5)
memory usage: 12.6+ MB

***Area Name Similarity Check and Results***

* To ensure data accuracy, we conducted a manual verification of areas with similar names using Google Maps. Below are the checks performed and the results:
  - Bay Terrace vs. Bay Terrace, Staten Island
  - Chelsea vs. Chelsea, Staten Island
  - Clifton vs. Clinton Hill
  - Concourse vs. Concourse Village
  - Hollis vs. Holliswood
  - Jamaica vs. Jamaica Estates vs. Jamaica Hills
  - Kew Gardens vs. Kew Gardens Hills
  - New Dorp vs. New Dorp Beach

**All Checked: Confirmed as different areas.**

In [86]:
# Check inconsistency
df['neighbourhood'].value_counts().sort_index().to_string()

"neighbourhood\nallerton                        96\narden heights                    9\narrochar                        52\narverne                        223\nastoria                       1872\nbath beach                      48\nbattery park city              118\nbay ridge                      304\nbay terrace                      8\nbay terrace, staten island       4\nbaychester                      29\nbayside                        124\nbayswater                       40\nbedford-stuyvesant            7918\nbelle harbor                    31\nbellerose                       26\nbelmont                         45\nbensonhurst                    157\nbergen beach                    30\nboerum hill                    357\nborough park                   268\nbreezy point                     9\nbriarwood                      121\nbrighton beach                 167\nbronxdale                       48\nbrooklyn heights               308\nbrownsville                    153\nbull's head                     12\nbushwick                      4973\ncambria heights                 78\ncanarsie                       402\ncarroll gardens                479\ncastle hill                     22\ncastleton corners               13\nchelsea                       2281\nchelsea, staten island           1\nchinatown                      789\ncity island                     41\ncivic center                   106\nclaremont village               59\nclason point                    50\nclifton                         39\nclinton hill                  1137\nco-op city                       5\ncobble hill                    199\ncollege point                   48\ncolumbia st                     89\nconcord                         60\nconcourse                      122\nconcourse village               76\nconey island                    50\ncorona                         160\ncrown heights                 3251\ncypress hills                  335\nditmars steinway               683\ndongan hills                    13\ndouglaston                      22\ndowntown brooklyn              175\ndumbo                           70\ndyker heights                   25\neast elmhurst                  486\neast flatbush                 1209\neast harlem                   2334\neast morrisania                 21\neast new york                  606\neast village                  3480\neastchester                     28\nedenwald                        35\nedgemere                        32\nelmhurst                       529\neltingville                      7\nemerson hill                    10\nfar rockaway                    78\nfieldston                       25\nfinancial district            1488\nflatbush                      1293\nflatiron district              157\nflatlands                      217\nflushing                       985\nfordham                        153\nforest hills                   303\nfort greene                    947\nfort hamilton                  120\nfort wadsworth                   2\nfresh meadows                  100\ngerritsen beach                  3\nglen oaks                        2\nglendale                       139\ngowanus                        492\ngramercy                       693\ngraniteville                     7\ngrant city                      22\ngravesend                      143\ngreat kills                     24\ngreenpoint                    2134\ngreenwich village              742\ngrymes hill                     18\nharlem                        5449\nhell's kitchen                3956\nhighbridge                      67\nhollis                          44\nholliswood                      10\nhoward beach                    50\nhowland hook                     6\nhuguenot                         9\nhunts point                     53\ninwood                         545\njackson heights                448\njamaica                        618\njamaica estates                 50\njamaica hills                   21\nkensington                     369\nkew gardens                     83\nkew gardens hills               66\nkingsbridge                    165\nkips bay                       916\nlaurelton                       68\nlighthouse hill                  3\nlittle italy                   277\nlittle neck                      8\nlong island city              1150\nlongwood                       135\nlower east side               1942\nmanhattan beach                 22\nmarble hill                     28\nmariners harbor                 25\nmaspeth                        258\nmelrose                         23\nmiddle village                  65\nmidland beach                   17\nmidtown                       3387\nmidwood                        235\nmill basin                      14\nmorningside heights            633\nmorris heights                  46\nmorris park                     45\nmorrisania                      44\nmott haven                     149\nmount eden                      18\nmount hope                      54\nmurray hill                    960\nnavy yard                       31\nneponsit                         7\nnew brighton                    15\nnew dorp                         4\nnew dorp beach                  12\nnew springville                 18\nnoho                           140\nnolita                         528\nnorth riverdale                 28\nnorwood                         76\noakwood                         14\nolinville                       23\nozone park                     150\npark slope                    1000\nparkchester                     99\npelham bay                      44\npelham gardens                  74\nport morris                     99\nport richmond                   25\nprince's bay                     8\nprospect heights               695\nprospect-lefferts gardens     1163\nqueens village                 146\nrandall manor                   45\nred hook                       178\nrego park                      236\nrichmond hill                  221\nrichmondtown                     5\nridgewood                      907\nriverdale                       19\nrockaway beach                 187\nroosevelt island               159\nrosebank                        14\nrosedale                       171\nrossville                        3\nschuylerville                   47\nsea gate                        20\nsheepshead bay                 369\nshore acres                     23\nsilver lake                      9\nsoho                           685\nsoundview                       33\nsouth beach                     16\nsouth ozone park               127\nsouth slope                    565\nspringfield gardens            248\nspuyten duyvil                   9\nst. albans                     216\nst. george                     125\nstapleton                       65\nstuyvesant town                 83\nsunnyside                      790\nsunset park                    865\ntheater district               565\nthrogs neck                     58\ntodt hill                        7\ntompkinsville                  110\ntottenville                     13\ntremont                         31\ntribeca                        345\ntwo bridges                    130\nunionport                       22\nuniversity heights              54\nupper east side               3670\nupper west side               3849\nvan nest                        26\nvinegar hill                    72\nwakefield                      159\nwashington heights            1777\nwest brighton                   59\nwest farms                       6\nwest village                  1479\nwestchester square              23\nwesterleigh                      5\nwhitestone                      26\nwilliamsbridge                  96\nwilliamsburg                  7751\nwillowbrook                      3\nwindsor terrace                328\nwoodhaven                      191\nwoodlawn                        29\nwoodrow                          3\nwoodside                       587"

In [87]:
# Check inconsistency
df['host_identity_verified'].value_counts().sort_index()

host_identity_verified
unconfirmed    51333
verified       51005
Name: count, dtype: int64

In [88]:
# Check inconsistency
df['cancellation_policy'].value_counts().sort_index()

cancellation_policy
flexible    33975
moderate    34265
strict      34098
Name: count, dtype: int64

In [89]:
# Check inconsistency
df['room_type'].value_counts().sort_index()

room_type
entire home/apt    53558
hotel room           116
private room       46439
shared room         2225
Name: count, dtype: int64

*   Cast columns to the appropriate types.
  - Integer columns: `minimum_nights`, `number_of_reviews`, `review_rate_number`, `availability_365`, `construction_year`
  - Category columns: `host_identity_verified`, `neighbourhood_group`, `neighbourhood`, `cancellation_policy`, `room_type`
  - Float columns: `lat`,`long`, `price`, `service_fee`
  - Boolean column: `instant_bookable`

In [90]:
int_columns = ['minimum_nights', 'number_of_reviews', 'review_rate_number', 'availability_365', 'construction_year']
cat_columns = ['host_identity_verified', 'neighbourhood_group', 'neighbourhood', 'cancellation_policy', 'room_type']
float_columns = ['lat','long', 'price', 'service_fee']
columns_intize(df, int_columns)
columns_categorize(df, cat_columns)
columns_floatize(df, float_columns)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 102338 entries, 0 to 102598
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      102338 non-null  int64
 1   host_identity_verified  102338 non-null  category
 2   neighbourhood_group     102338 non-null  category
 3   neighbourhood           102338 non-null  category
 4   lat                     102338 non-null  float64
 5   long                    102338 non-null  float64
 6   instant_bookable        102338 non-null  bool
 7   cancellation_policy     102338 non-null  category
 8   room_type               102338 non-null  category
 9   construction_year       102338 non-null  int64
 10  price                   102338 non-null  float64
 11  service_fee             102338 non-null  float64
 12  minimum_nights          102338 non-null  int64
 13  number_of_reviews       102338 non-null  int64
 14  review_rate_number      102338 non-null  int64
 15  availability_365        102338 non-null  int64
dtypes: bool(1), category(5), float64(4), int64(6)
memory usage: 9.3 MB

*   Handle all outliers.
  - `price`: By defination it is the daily price in local currency. So it should not be euqal to or less than 0.
  - `availability_365`: By defination it is the minimum number of night stay for the listing (calendar rules may be different). So it should not be less than 0.
  - `minimum_nights`: By defination it is the availability of the listing x days in the future as determined by the calendar. So it should not be over 365.

In [92]:
rows_drop_by_condition(df, df['price'] == 0)
apply_lambda(df, ['availability_365', 'minimum_nights'], lambda x: max(0, x))
apply_lambda(df, ['availability_365'], lambda x: min(365, x))

In [93]:
# Check
df['availability_365'].describe()

count    102338.000000
mean        139.651947
std         133.477069
min           0.000000
25%           2.000000
50%          95.000000
75%         268.000000
max         365.000000
Name: availability_365, dtype: float64

In [94]:
# Check
df['minimum_nights'].describe()

count    102338.000000
mean          8.120112
std          30.227049
min           0.000000
25%           1.000000
50%           3.000000
75%           5.000000
max        5645.000000
Name: minimum_nights, dtype: float64

*   Drop duplicated records. (541 rows duplicated records affected) **这个还套娃不？**

In [95]:
df.drop_duplicates(inplace=True)

In [96]:
# Cleaned check
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101797 entries, 0 to 102057
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      101797 non-null  int64
 1   host_identity_verified  101797 non-null  category
 2   neighbourhood_group     101797 non-null  category
 3   neighbourhood           101797 non-null  category
 4   lat                     101797 non-null  float64
 5   long                    101797 non-null  float64
 6   instant_bookable        101797 non-null  bool
 7   cancellation_policy     101797 non-null  category
 8   room_type               101797 non-null  category
 9   construction_year       101797 non-null  int64
 10  price                   101797 non-null  float64
 11  service_fee             101797 non-null  float64
 12  minimum_nights          101797 non-null  int64
 13  number_of_reviews       101797 non-null  int64
 14  review_rate_number      101797 non-null  int64
 15  availability_365        101797 non-null  int64
dtypes: bool(1), category(5), float64(4), int64(6)
memory usage: 9.2 MB

In [97]:
# Cleaned check
df.describe()

,id,lat,long,construction_year,price,service_fee,minimum_nights,number_of_reviews,review_rate_number,availability_365
count,1.017970e+05,101797.000000,101797.000000,101797.000000,101797.000000,101797.000000,101797.000000,101797.000000,101797.000000,101797.000000
mean,2.923324e+07,40.728094,-73.949639,2012.487912,625.386732,124.717978,8.111555,27.383833,3.269281,139.562246
std,1.624381e+07,0.055859,0.049524,5.765736,331.288479,66.548931,30.290076,49.413577,1.295470,133.473130
min,1.001254e+06,40.499790,-74.249840,2003.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.516231e+07,40.688730,-73.982580,2007.000000,341.000000,67.000000,1.000000,1.000000,2.000000,2.000000
50%,2.923988e+07,40.722290,-73.954430,2012.000000,625.000000,125.000000,3.000000,7.000000,3.000000,95.000000
75%,4.329868e+07,40.762760,-73.932340,2017.000000,912.000000,182.000000,5.000000,30.000000,4.000000,268.000000
max,5.736742e+07,40.916970,-73.705220,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,5.000000,365.000000

In [98]:
# Save cleaned DataFrame as 'df_cleaned.csv'
df.to_csv('df_cleaned.csv', index=False)